@import "~bootstrap/dist/css/bootstrap.min.css";

@font-face {
    font-family: "IM-Fell-DW";
    src: url(../Fonts/IMFellDWPicaSC-Regular.ttf);
}

@font-face {
    font-family: "Lato";
    src: url(../Fonts/Lato-Regular.ttf);
}

/* CSS reset or normalize styles go here if needed */

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    color: crimson;
    font-size: 20px;
    font-family: "IM-Fell-DW";
}

.login-section,
.registration-section,
.about-us-section {
    text-align: left;
    font-size: 15px;
    font-family: "Lato";
}

.registration-form {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registration-form h2 {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: "Lato";
}

.registration-form p {
    font-size: 16px;
    font-family: Lato;
    margin-bottom: 10px;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    font-family: Lato;
}

.registration-form input:focus, textarea:focus {
  border-color:#d333ff;
  outline: #9933ff;
  box-shadow: 0 0 10px  #d333ff;
}

.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: #cdab7e;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-family: Lato;
    margin-bottom: 10px;
}

.registration-form button:hover {
    background-color: #e2cfb6;
    color:  #d333ff;
    letter-spacing: 10px;
    font-family: Lato;
    box-shadow: 0 0 10px  #d333ff;
}

.registration-form button:focus {
    border-color: #d333ff;
    outline: #9933ff;
    box-shadow: 0 0 10px #d333ff;
}

.registration-form button:active {
    background-color: #cdab7e;
    color: black;
}

.registration-form button:focus:not(:active) {
    border-color: #ccc;
    box-shadow: none;
}

.home-link {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;  
  }

  .home-link:hover {
    color:#9933ff;
  }

.nav-link {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    cursor: pointer; /* show a pointer cursor on hover */
    margin: 5px;
}

 .nav-link:hover {
    color: crimson !important;
}

