<div class="about-section">
  <header>
    <h1>About Us
    </h1>
  </header>
  <body style="padding-left: 40px; padding-right: 40px">
    <p>
      We want to enhance the experience of the Game Master in tabletop
      role-playing games by providing a web application that allows GMs to
      create a soundboard for their sessions. GMs will be able to select from
      royalty-free tracks to play during their sessions at the click of a
      button.
    </p>
    <p>
      We know that each campaign is different, and GMs are often at the mercy of
      their players’ whims. Our application makes it easy to adapt to the
      unpredictable twists and turns your players take you on.
    </p>
  </body>
  <!-- <p>
    Resize the browser window to see that this page is responsive by the way.
  </p> -->
</div>

<!-- <h2 style="text-align: center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/w3images/team1.jpg" alt="Jane" style="width: 100%" />
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div> -->

<!-- <div class="column">
  <div class="card">
      <img src="/w3images/team2.jpg" alt="Mike" style="width: 100%" />
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="John" style="width: 100%" />
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</div> -->
