<!DOCTYPE html>
<html>
   <head>
        <meta charset="UTF-8">
      <!-- <link rel="stylesheet" type="text/css" href="./styles.css"> -->
   </head>
   <title>Homepage</title>
<body>
    <div class="header">
        <h1>RPG VIBES</h1> 
    </div>
    <div class="login-section">
         <h2>Login</h2>
         <!-- Login form? -->
    </div>
    <div class="registration-section">
            <h2>Registration</h2>
             <!-- Registration form? -->
    </div>
    <div class="about-us-section">
            <h2>About Us</h2>
            <p>This is just placeholder text. </p>
    </div>
</body>
</html>

