<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="stylesheet" type="text/css" href="../app.component.css" /> -->
  </head>
  <title>Homepage</title>
  <body>
    <div class="header">
      <h1>RPG VIBES</h1>
    </div>
    
    <!-- Other content specific to the homepage -->
    <img
      src='https://assetsio.reedpopcdn.com/ilse-gort-stormwreck-isle-starter-set-dungeons-dragons.png?width=848&quality=80&format=jpg&auto=webp'
      alt="Dragon"
      class="center"
      
    />
  </body>
</html>
