<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<!-- Container -->
<div class="container">
    
    <!-- Navigation Bar -->
    <div class="audio-navbar">
    
        <!-- Audio Player -->
        <audio controls>
            <source src="" type="">
            Your browser does not support the audio element.
        </audio>
    </div>
    
    <!-- Page Content -->
    <div class="content">
        <h2>Scroll down the page</h2>
        <!--TODO: Music tracks here-->
        <p>Music tracks</p>
    </div>

</div>    
</body>
</html>



