<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <!-- Container -->
    <div class="audio-container">
      <!-- <ng-container *ngIf="isGameSelected" class="audio-navbar"> -->
      <!-- Audio Player -->
      <audio
        controls
        id="mediaPlayer-src"
        src="{{ audioService.getAudioUrl() }}"
      >
        Your browser does not support the audio element.
      </audio>
      <!-- </ng-container> -->
    </div>

    <!-- Page Content -->
    <div class="content"></div>
  </body>
</html>
