<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <!-- Container -->
    <div class="audio-container">
      <div class="audio-navbar">
        <audio controls>
          <source src="" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
        <button (click)="test()"></button>
      </div>
      <!-- Page Content -->
      <div class="content"></div>
    </div>
  </body>
</html>
