@import "~bootstrap/dist/css/bootstrap.min.css";

@font-face {
    font-family: "IM-Fell-DW";
    src: url(./Fonts/IMFellDWPicaSC-Regular.ttf);
}
@font-face {
    font-family: "Lato";
    src: url(./Fonts/Lato-Regular.ttf);
}

body h1,h2  {
    text-align: center;
    color: #B92121ff !important;
    font: 20px "IM-Fell-DW" !important;
}

body {
    font-family: Lato, Helvetica, sans-serif;
}


.login-section, .registration-section, .about-us-section{
    text-align:left;
    font: 15px "Lato";
}


.nav-link {
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

.nav-link:hover {
    color: crimson !important;
}

p {
/* font-family: "Lato", Helvetica, sans-serif;
color: #2D231Eff; */
font-family: "IM-Fell-DW";
    src: url(./Fonts/IMFellDWPicaSC-Regular.ttf);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5D576Bff !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-family: Lato !important;
    margin-bottom: 10px;
  }

  .primary-submit-button:hover {
    background-color: #e2cfb6;
    color: #000;
    letter-spacing: 10px;
    font-family: Lato;
    box-shadow: 0 0 10px  #d333ff;
  }


.header {
    text-align: center;
    color: #B92121ff;
    font-size: 20px;
    font-family: "IM-Fell-DW";
}

.login-section,
.registration-section,
.about-us-section {
    text-align: left;
    font-size: 15px;
    font-family: "Lato";
}

.rpg-forms-style {
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.rpg-forms-style h2 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Lato";
}

.rpg-forms-style p {
    font-size: 16px;
    font-family: Lato;
    margin-bottom: 10px;
}

.rpg-forms-style input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    font-family: Lato;
}

.rpg-forms-style input:focus, textarea:focus {
  border-color:#d333ff;
  outline: #5D576Bff;
  box-shadow: 0 0 10px  #d333ff;
}

.rpg-forms-style button {
    width: 100%;
    padding: 10px;
    background-color: #cdab7e;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-family: Lato;
    margin-bottom: 40px;

}

.rpg-forms-style button:hover {
    background-color: #e2cfb6;
    color:  #d333ff;
    letter-spacing: 10px;
    font-family: Lato;
    box-shadow: 0 0 10px  #d333ff;
}

.rpg-forms-style button:focus {
    border-color: #d333ff;
    outline:#5D576Bff;
    box-shadow: 0 0 10px #d333ff;
}

.rpg-forms-style button:active {
    background-color: #cdab7e;
    color: black;
}

.rpg-forms-style button:focus:not(:active) {
    border-color: #ccc;
    box-shadow: none;
}

.nav-link {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    cursor: pointer; /* show a pointer cursor on hover */
    margin: 5px;
}

 .nav-link:hover {
    color: #B92121ff !important;
}

/* Style override */
div.bg-dark-custom {
    background-color: #EBDFCBff;
}

p, label {
    color: #2D231Eff;
}

.home-link {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;  
  }

  .home-link:hover {
    color:#5D576Bff;
  }

  .error-messages {
    color: red;
    font-size: 14px;
  }

  .welcome-msg {
    color: #5D576B;
    margin-top: 1em;
    text-align: center;
    opacity: 0;
    animation: fadeIn 5s;
}

  .game-session-card-style {
    height: 200px;
    margin: 0;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #C9B79Cff;
    display:flex;
    justify-content: center;
    align-items: center;
}


/* User Landing Page "+" button */


.add-session-button {
    color: white;
  }

  .add-session-button > svg {
        width:80px;
        height:80px;
  }

  .add-first-game-session-button > svg {
    width: 300px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    background-color: #C9B79C;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
  }

  .add-session-button:hover {
    color:  #5D576Bff;
    text-shadow: #d333ff;
    transition: width .2s, height .2s, color .2s ease-in-out;
      > svg {
        width:120px;
        height:120px;
        filter: drop-shadow(3px 3px 3px #d333ff);
        }
  }


/* User Landing Page Header */
.campaign-header {
    font-size:30px;
    text-align: center;
    font-family: "IM-Fell-DW", serif;
    margin: .5em 0 .5em 0;
    color:  #5D576Bff;
}

/* User Landing Page Sidebar Header */
.campaign-header-2 {
    font-size:23px;
    text-align: center;
    font-family: "IM-Fell-DW", serif;
    margin: auto;
    color:  #5D576Bff;
}


/* User Landing Page Sidebar "+" button */
.add-campaign-button > svg {
    width:40px;
    height:40px;
  }

  .add-campaign-button {
    background-color: rgba(157, 127, 82, 0.783);
    color: white;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    display: block;
    width: 40%;
  }

  .add-campaign-button:hover {
    color:  #5D576Bff;
    text-shadow: #d333ff;
    transition: width .2s, height .2s, color .2s ease-in-out;
    > svg {
        width:40px;
        height:40px;
        filter: drop-shadow(3px 3px 3px #d333ff);
    }
}

  /* Campaign Session */
.four {
    background-color: white;
    font-size: 3rem;
    font-family: "IM-Fell-DW", serif;
}
.four .type {
    padding-top:.5em;
    width: auto;
    margin: auto;
}
.four h3 {
    width: 31ch;
    border-right: 4px solid black;
    margin: .5em auto;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite alternate;
}

/*music selection*/

  .music-selection {
    text-align: center;
  }
  
  .music-selection-button {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 20px auto;
    margin-right: 20px;
    padding: 10px;
    background-color: #5D576Bff !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-family: Lato !important;
  }
  
  .music-selection-button img {
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
  }

  .music-selection-button img:hover {
    filter: invert(0%);
  }
  
  .music-selection-button:hover {
    background-color: #e2cfb6;
    color: #000;
    letter-spacing: 10px;
    font-family: Lato;
    box-shadow: 0 0 10px #d333ff;
  }
  /*end music selection*/

@keyframes typing {
    from {
        width: 0;
    }
}
@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}


/* Style for the audio navigation bar */
.navbar {
    text-align: center;
    align-items: center;
    overflow: hidden;
    background-color: #C9B79Cff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it appears above the content*/
}

  /* Style for the links in the audio navigation bar */
  .navbar a {
    text-align: center;
    align-items: center;
    float: left;
    display: block;
    color: #ccc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add some padding to the page content to prevent overlapping with the fixed navbar */
  .content {
    padding: 20px;
    flex: 1; /* Allow content to take remaining vertical space */
    overflow-y: auto; /* Enable vertical scrolling for the content */
  }