    <html>
    <body>
    <div class="rpg-forms-style bg-dark-custom text-white col-lg-5 col-md-8 col-sm-10 col-xs-12">
        <h2>REGISTER FOR AN ACCOUNT</h2>
        <p>Create an account to manage sound for your game session.</p>

        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="password_confirmation" placeholder="Confirm Password">

        <button type="submit" class="primary-submit-button">Register</button>
    
    </div>

  

</body>
</html>
