<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="../app.component.css">
</head>
<body>
    
    <div class="registration-form col-md-12">
        <h2>Welcome Back</h2>

        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">

        <button type="submit" class="registration-form-button">Log in</button>
    </div>
    
</body>
</html>