<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<body>
  <!--Sidebar-->
  <div class="container w3-sidebar w3-light-grey w3-bar-block" style="width: 15%">
    <h4 class="w3-bar-item campaign-header-2 text-center">Campaigns</h4>
    <a href="#" class="w3-bar-item w3-button" *ngFor="let campaign of campaigns">
      {{ campaign.name }}
    </a>
    <a
        href="/campaign"
        class="add-campaign-button"
        title="Create new campaign"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="bi bi-plus"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
          />
        </svg>
      </a>
  </div>

  <!--Page Content-->
  <div style="margin-left: 15%">
    <p class="campaign-header">Game Sessions</p>
    <h1>Welcome, {{ username }}!</h1> 
  <!-- wait until user service is complete to store username -->
    <button type="submit" class="primary-submit-button" *ngFor="let campaign of campaigns" (click)="onCampaignClick(campaign.id)">
      {{ campaign.name }}
    </button>
  
    <app-display-game-sessions [campaignId]="selectedCampaignId"></app-display-game-sessions>
  </div>
</body>