<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<body>
  <!--Sidebar-->
  <div
    class="container w3-sidebar w3-light-grey w3-bar-block"
    style="width: 15%"
  >
    <h4 class="w3-bar-item campaign-header-2 text-center">Campaigns</h4>
    <div class="w3-bar-item w3-button" *ngFor="let campaign of campaigns">
      <div (click)="onCampaignClick(campaign.id)">
        
        {{ campaign.campaignName }}
      </div>
    </div>
    <a
      href="/campaign-session"
      class="add-campaign-button"
      title="Create new campaign"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class="bi bi-plus"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
        />
      </svg>
    </a>
  </div>

  <!--Page Content-->
  <div style="margin-left: 15%">
    <p class="campaign-header">Game Sessions</p>

    <app-audio-player></app-audio-player>

    <!-- wait until user service is complete to store username -->

    <app-display-game-sessions
      [sessions]="sessions"
      [campaignId]="selectedCampaignId"
      [setSelectedGameSession]="setSelectedGameSession"

      
    ></app-display-game-sessions>

    <!-- <div class="button-container" *ngIf="selectedCampaignId !== null && isFirstGameSession">
      <a [routerLink]="['/game-session-form', selectedCampaignId]" class="add-first-game-session-button" title="Create new game session">
        <!-- SVG icon -->
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <text x="50%" y="50%" text-anchor="middle" alignment-baseline="middle" font-size="8">Add First Game Session</text>
        </svg>
      </a>
    </div>  -->
    

    <br />


    <app-music-selection
      [selectedSession]="selectedGameSession"
    ></app-music-selection>
  </div>
</body>