<div class="music-selection">
  <p class="campaign-header">Music Sessions</p>

  <div *ngFor="let track of musicTracks">
    <div class="music-track">
      <p class="track-name">{{ track.name }}</p>

      <button type="button" class="music-selection-button" (click)="playTrackPreview()">
        <img src="https://img.icons8.com/ios/50/circled-play--v1.png" alt="Play">
        Preview
      </button>

      <button type="button" class="music-selection-button" (click)="addTrack(track)">
        <img src="https://img.icons8.com/ios/50/add.png" alt="Add">
        Add
      </button>
    </div>
  </div>

  <audio id="track-preview-audio" src=""></audio>
</div>
